/************************************/
/* $BUTTONS */
/************************************/

/*
 * Definimos los botones y sus variantes
 */


/**
* .btn es la clase principal para definir un botón
*/

%btn {
    background: #fff;
	border: none;
	border-radius: 0.15em;
	padding: 0.70em 1.40em;
	color: #000;
	margin-right: 1.25em;
	cursor: pointer;
	transition: 1s ease all;
    font-size: 1em;
    font-weight: bold;
    opacity: 1;
    
    &:hover {
        opacity: 0.8;
    }

    & i {
        margin-right: 1em;
    }
}